html {
  font-size: 75%;
  height:100%;
}

*{
  margin:0px;
  padding:0px;
}

body {
  height:100%;
  margin-top: 0px;
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #3578D3;
  height: 57px;
  font-size: 1rem;
}

.top_menu li {
  float: left;
  width: auto;
  color: #fff;
  margin-top: 15px;
  margin-right: 15px;
}

.top_menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
}

.top_menu li a:hover {
  text-decoration: underline;
}

.logo_image {
  float: left;
  margin: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul.top_menu{
  float:right;
}

//一覧ページ本文要素

.main_content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.article_main{
  width:614px;
  border:1px solid;
  padding:10px;
  margin-bottom:10px;
  display: flex;
}

.article_title{
  font-weight: bold;
  font-size: 1.3rem;
}

.article_sentence{
  font-size: 25px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article_sentence img{
  width:40px;
}

.article_content{
  border-style:solid;
  border-color:#349beb;
  border-width: 0.1rem;
  border-radius: 10px;
  width:400px;
  height: 50px;
  padding: 20px 50px;
  margin:3px;
  margin-bottom: 30px;
}

.article_content span{
  margin-right: 10px;
}

.content_userimg{
  margin-left: 20px;
  text-align: center;
}

.content_userimg img{
  width: 120px;
}

.content_userimg a{
  color: #3578D3;
  font-weight: bolder;
  text-decoration: none;
}

.content_userimg li{
  margin-top:10px;
}

.content_main{
  margin: 0 65px;
}

//新規作成ページ
.new_form{
  text-align: center;
}

.new_form div{
  margin:10px;
}

.content_border{
  border-color:#349beb;
  border-radius: 10px;
}

//ブログ詳細
.article_details{
  font-size: 2rem;
  border-style:solid;
  border-color:#349beb;
  border-width: 0.1rem;
  border-radius: 10px;
  width:400px;
  padding: 20px 50px;
  margin:3px;
  margin-bottom: 30px;
}

.article_content p{
  font-size: 2rem;
}

.article_details span{
  font-size: 1.5rem;
}
//ブログ編集
.blog_title{
  margin-top: 15px;
}

#blog_title{
  width: 300px;
}



//サイドバー
.side_menu{
  text-align: center;
}
.side_menu li{
  background-color: #349beb;
  height: 6rem;
  padding: 0 55px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.animal_image{
  width: 50px;
  float: left;
  margin-top: 5px;
}

.wrapper{
  overflow-y: scroll;
}

.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding:1.5rem;
}

.banner img{
  width: 80%;
  display: none;
  margin-left: 35px;
}

.panda_comment{
  text-align: center;
  font-size:15px;
  font-weight: bold;
}

.panda_comment a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.panda_comment img{
  width: 170px;
}

.side_category{
  background-color: #3578D3;
  font-weight: normal;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
  height: 45px;
  border-radius: 10px;
  display: table;
}

.side_category a{
  vertical-align: middle;
  display: table-cell;
}

.banner{
  margin-top: 20px;
  display: sticky;
}

.side_menu{
  width: 300px;
  float: left;
}
.content{
  float: left;
  height: 200px;
}
.wrapper{
  margin-top: 10px;
}

//ログインページ
.login_main{
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.login{
  margin-top: 20px;
}

//フッター
.footer{
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  background-color: #3578D3;
  display:table;
}
.footer p{
  font-size:1rem;
  color:#fff;
  text-align:center;
  vertical-align: middle;
  display:table-cell;
}
